{% load static %}
{% load humanize %}
{% load filters %}
<script>
    var num = 150000;
</script>
<!-- Search box 3 start -->
        <div class="search-box-4 sb-8">
            <form action="{% url 'cars:search' %}" method="">
                <div class="form-group">
                    <input type="text" name="q" placeholder="Search by name" class="form-control">
                </div>
                 <div class="form-group">
                    <select class="form-control search-fields" name="model">
                        <option selected="true" disabled="disabled">Model</option>
                        {% for model in search_models %}
                        <option value="{{ model }}">{{ model }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="city">
                        <option selected="true" disabled="disabled">Location</option>
                        {% for city in search_cities %}
                        <option value="{{ city}}">{{ city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="year">
                        <option selected="true" disabled="disabled">Year</option>
                        {% for year in search_years %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control search-fields" name="body-style">
                        <option selected="true" disabled="disabled">Select Type Of Car</option>
                        {% for style in search_styles %}
                        <option value="{{ style }}">{{ style }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="range-slider clearfix">
                                <label>Price</label>
                                <div data-min="0" data-max="150000"  data-min-name="min_price" data-max-name="max_price" data-unit="EUR" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                <div class="clearfix"></div>
                            </div>
                <div class="form-group">
                    <button class="btn btn-block button-theme btn-md">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </form>
        </div>
<!-- Search box 3 end -->