 <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 4, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for person in team %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ person.photo.url}}" alt="team-1" class="img-fluid">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{ person.facebook_link }}" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{ person.twitter_link}}" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{ person.google_plus_link }}" class="google-bg"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="team-detail.html">{{ person.first_name}} {{ person.last_name }}</a></h4>
                            <h5>{{ person.designation }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>